@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-pills
{
  border:1px solid greenyellow;
}
.clip {
  font-weight: 800;
  font-size: 18rem;
  text-align: center;
  background-image: url("/neom-Iy59i0M7oP4-unsplash.jpg");
   background-size: 100%;
      background-attachment: scroll;
  text-transform: uppercase;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
} */
/* .container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: stretch;
  flex-flow: row wrap;
  align-content: flex-end;
} 

.box {
  width: 100px;
  height: 50px;
  background: steelblue;
  color: white;
} */
/*
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}html {
  scroll-behavior: smooth;
} */
/* table,tr,td,th{
    border-collapse: collapse;
    width: 100%;
    background-color:#00ff00;
    border:2px solid green;
   
}
.table-wrapper {
  border: 2px solid green;
 

}

.block {


  background: black;
  width: 30vw;
  height: 30vw;
  color: white;
  padding: 1rem;

}
.left
{
    float:left;
  margin-right: 1rem;
}
.clear
{
  clear:both;
}
.content {
  background: red;
 

}
section{
  background-color: #00ff00;
  border: 2px solid #333;
padding: 1rem;display: flow-root; 
 overflow: auto;
display: flow-root; }
 */

/* .outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;

}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;

}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
  .sticky {
  background-color: #000;
  position: sticky;
  top: 150px;
}

}
 */





